VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
REMOVE_BG_API_KEY=
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_MODE=sandbox

# Payment Gateway(Razorpay, Cashfree, Payu, stripe, paypal, instamojo, phonepe, ccavenue)

General Charges - Around 2% + GST(18%) => 2.36%

Documents Required:
Personal
Personal Pan Card
Business
Business Pan Card
GST

Common Documentation
Website Link
Privacy Policy
Refund and Cancellation 
Contact US (Phone no., address, Email, Trade name)
Shipping & Delivery Page
Terms and Conditions

In some cases, they can also ask for Purchase Invoice

Time Required for Approval
Instant approval for receiving temporary payments up to Rs. 15,000(approx)
1-2 Days for Final Approval
In some cases, it can take up to 7 to 10 Days

Payment Gateway Integration
Requirement(from below 2 or more things are required)
Merchant ID 
API Key
Salt Key
Key ID
Secret Key/Key Secret
